{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title id="B6">Testing Page</title>
        <link rel="stylesheet" href="{% static 'style_Bsix.css' %}">
    </head>
    <body>
        <div class="floor">
            <img id='img' src="https://user-images.githubusercontent.com/30318917/83318674-f3973a80-a271-11ea-9fce-01cedefa4471.jpg" alt="" width="1000" height="600">
            <div class="center-floor">B6</div>
            <div class="side1 place" id = "B601">B601</div>
            <div class="side2 place" id = "B602">B602</div>
            <div class="side3 place" id = "B603">B603</div>

        </div>
        <div class="console_container">
                <button id="btnB6" onclick=floorChange(this.id)>B6</button>
                <button id="btnB5" onclick=floorChange(this.id)>B5</button>
                <button id="btn3" onclick=floorChange(3)>3</button>
                <button id="btn4" onclick=floorChange(4)>4</button>
                <button id="btn5" onclick=floorChange(5)>5</button>
                <button id="btn6" onclick=floorChange(6)>6</button>
                <button id="btn7" onclick=floorChange(7)>7</button>
                <button id="btn8" onclick=floorChange(8)>8</button>
                <button id="btn9" onclick=floorChange(9)>9</button>
            
        </div>  
    </body>
    <script type="text/javascript" src="{% static 'scripts.js' %}"></script>
</html>