<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="style.css" rel="stylesheet" />
        <title>Testing page</title>

    </head>
    <body>
        <div class="floor">
            <img id='img' src="https://user-images.githubusercontent.com/30318917/83318674-f3973a80-a271-11ea-9fce-01cedefa4471.jpg" alt="" width="1000" height="600">





        </div>
        <div class="console_container">  
             <!--현재는 이미지만 바꾸지만 추후 링크를 연결시키도록 하자. 웹페이지에 맞게 css선택을 해주기 위함-->
                <button id="index" onclick=floorChange(this.id)>back</button>
                <button id="B6" onclick=floorChange(this.id)>B6</button>
                <button id="B5" onclick=floorChange(this.id)>B5</button>
                <button onclick=floorChange(3)>3</button>
                <button onclick=floorChange(4)>4</button>
                <button onclick=floorChange(5)>5</button>
                <button onclick=floorChange(6)>6</button>
                <button onclick=floorChange(7)>7</button>
                <button onclick=floorChange(8)>8</button>
                <button onclick=floorChange(9)>9</button>
            
        </div>
        
    </body>
    <script>
        function floorChange(floor){
            location.href=`${floor}.html`
            // ajax 통신을 통해 버튼을 클릭하면 api를 호출하고, 현재 강의중인 강의실을 데이터로 가져온다.
            // 이후 해당 강의실의 좌표를 얻어내어 강의 중인지를 표시한다.
            // 허나 만약 버튼 이벤트가 아닌 외부 모션 이벤트로 호출될 경우, 해당 floor을 파악해서 강의중 + 이상 상황이 탐지된 강의실을 표현해준다.
            
            // 위 두 과정을 이루기 위해선 이미지 위에 표시를 하는 방법을 배워야 한다.
            // 혹은 두 구역을 나눠(마치 중현이네 조처럼) -> 현재 사용 중인 강의실의 경우, 초록색 등으로 표시하는 건 어떨까?
            // 이미지를 따오기 보단 그림을 그려서
            console.log('changing')    
                
        }
    </script>
</html>